<footer>
    <div class="footer pt-040 pb-040 ps-012 ps-md-040 pe-012 pe-md-040 ps-lg-080 pe-lg-080 bg-violet">
        <div class="row align-items-center justify-content-between mb-040">
            <div class="col-6 col-sm-3 col-md-2 mb-040 mb-md-0">
                <div class="title-small text-white fw-medium mb-4">Title</div>
                <ul class="footer__list d-flex flex-column ps-0">
                    <li><a href="#">Subtitle</a></li>
                    <li><a href="#">Subtitle</a></li>
                    <li><a href="#">Subtitle</a></li>
                    <li><a href="#">Subtitle</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-3 col-md-2 mb-040 mb-md-0">
                <div class="title-small text-white fw-medium mb-4">Title</div>
                <ul class="footer__list d-flex flex-column ps-0">
                    <li><a href="#">Subtitle</a></li>
                    <li><a href="#">Subtitle</a></li>
                    <li><a href="#">Subtitle</a></li>
                    <li><a href="#">Subtitle</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-3 col-md-2 mb-040 mb-md-0">
                <div class="title-small text-white fw-medium mb-4">Title</div>
                <ul class="footer__list d-flex flex-column ps-0">
                    <li><a href="#">Subtitle</a></li>
                    <li><a href="#">Subtitle</a></li>
                    <li><a href="#">Subtitle</a></li>
                    <li><a href="#">Subtitle</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-3 col-md-2 mb-040 mb-md-0">
                <div class="title-small text-white fw-medium mb-4">Title</div>
                <ul class="footer__list d-flex flex-column ps-0">
                    <li><a href="#">Subtitle</a></li>
                    <li><a href="#">Subtitle</a></li>
                    <li><a href="#">Subtitle</a></li>
                    <li><a href="#">Subtitle</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="title-small text-white fw-medium mb-4">Title</div>
                <p class="text-small text-gray02 footer__text">Lorem ipsum dolor sit amet, ad essent accommodare cum.
                    Cum purto ridens at, mea iisque feugait iracundia ne. Has suas viris evertitur at, ut pro veritus
                    intellegat consequuntur.</p>
            </div>
        </div>
        <div class="">
            <div class="mb-2 text-gray05 text-small">© 2022 Poinz</div>
            <div class="text-gray05 text-small">Lorem ipsum dolor sit amet, ad essent accommodare cum.</div>
        </div>
        
    </div>
</footer>





