* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'DM Sans';
}

body,
html {
	min-height: 100vh;
	font-family: 'DM Sans';
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	color: $violet;
	background: $white;
	overflow-x: hidden;
	position: relative;

	@media (min-width: 1400px) {
		.container-xxl,
		.container-xl,
		.container-lg,
		.container-md,
		.container-sm,
		.container {
			max-width: 1140px;
		}
	}
}
html,
body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
footer {
	flex-shrink: 0;
}

ul {
	margin-bottom: 0;
}

button {
	border: none;
}

.main {
	width: 100%;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: $violet;
	transition: all 0.2s ease-in-out;

	&:hover {
		color: $violet;
	}
}
section {
	position: relative;
}

img {
	display: block;
	max-width: 100%;
}
