@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";


// Color
$black: #111315;
$white: #FFFFFF;
$violet:#0E0320;
$purple:#574C67;
$pink:#B46E9E;
$blue:#57A2CB;
$gray:#F6F5FA;
$gray02:#B7B2C2;
$gray03:#F4F9FA;
$gray04:#ebf3f9c5;
$gray05:#777381;
$gray06:#F5F5F5;
$green:#028092;




$spacers: (
    0: 0,
    1: (
        $spacer * 0.25,
    ),
    2: (
        $spacer * 0.5,
    ),
    3: $spacer,
    4: (
        $spacer * 1.5,
    ),
    5: (
        $spacer * 3,
    ),
    6: (
        $spacer * 4,
    ),
    "02": (
        $spacer * 0.125,
    ),
    "06": (
        $spacer * 0.375,
    ),
    "010": (
        $spacer * 0.625,
    ),
    "012": (
        $spacer * 0.75,
    ),
    "014": (
        $spacer * 0.875,
    ),
    "018": (
        $spacer * 1.125,
    ),
    "020": (
        $spacer * 1.25,
    ),
    "022": (
        $spacer * 1.375,
    ),
    "028": (
        $spacer * 1.75,
    ),
    "030": (
        $spacer * 1.875,
    ),
    "032": (
        $spacer * 2,
    ),
    "036": (
        $spacer * 2.25,
    ),
    "038": (
        $spacer * 2.375,
    ),
    "040": (
        $spacer * 2.5,
    ),

    "044": (
        $spacer * 2.75,
    ),
    "046": (
        $spacer * 2.875,
    ),
    "048": (
        $spacer * 3,
    ),
    "050": (
        $spacer * 3.125,
    ),
    "056": (
        $spacer * 3.5,
    ),
    "058": (
        $spacer * 3.625,
    ),
    "060": (
        $spacer * 3.75,
    ),
    "064": (
        $spacer * 4,
    ),  
    "066": (
        $spacer * 4.125,
    ),
    "068": (
        $spacer * 4.25,
    ), 
    "070": (
        $spacer * 4.375,
    ),
    "072": (
        $spacer * 4.5,
    ),
    "076": (
        $spacer * 4.75,
    ),
    "078": (
        $spacer * 4.875,
    ),
    "080": (
        $spacer * 5,
    ),
    "082": (
        $spacer * 5.125,
    ),
    "088": (
        $spacer * 5.5,
    ),
    "090": (
        $spacer * 5.625,
    ),
    "092": (
        $spacer * 5.75,
    ),
    "096": (
        $spacer * 6,
    ),
    104: (
        $spacer * 6.5,
    ),
    116: (
        $spacer * 7.25,
    ),
    120: (
        $spacer * 7.5,
    ),
    124: (
        $spacer * 7.75,
    ),
    128: (
        $spacer * 8,
    ),
    134: (
        $spacer * 8.375,
    ),
    136: (
        $spacer * 8.5,
    ),
    145: (
        $spacer * 9.0625,
    ),
    150: (
        $spacer * 9.375,
    ),
    160: (
        $spacer * 10,
    ),
    164: (
        $spacer * 10.25,
    ),
    169: (
        $spacer * 10.5625,
    ),
    176: (
        $spacer * 11,
    ),
    214: (
        $spacer * 13.375,
    ),
    220: (
        $spacer * 13.75,
    ),
    224: (
        $spacer * 14,
    ),
    226: (
        $spacer * 14.125,
    ),
    300: (
        $spacer * 18.75,
    ),
    340: (
        $spacer * 21.25,
    ),
);
